@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Playfair+Display:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.18) 100%),
                 linear-gradient(0deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.14) 100%),
                 url('Assets/Home/Myself_main.jpg') center / cover no-repeat;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    min-height: 826px;
    padding-top: 100px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 42px;
    background-color: transparent;
}

.navbar .logo-link {
    width: 158px;
    height: 117px;
}

.navbar .nav-links {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.nav-links a {
    color: #FFFFF4;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.6px;
    text-transform: capitalize;
    text-decoration: none;
}

.nav-links a:hover {
    color: #C5C4B6;
}

.intro-text {
    color: #FFFFF4;
    width: 70%;
    padding-left: 10%;
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -1.4px;
    position: relative;
    margin: 9% 0 20px;
}

.highlight {
    position: relative;
    display: inline; /* Ensure this is inline to fit the text */
    text-decoration: none;
}

.highlight::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; /* Adjust this if the underline is too close or too far from the text */
    border-bottom: 2px solid #FFFFF4; /* Adjust thickness and color as needed */
    width: 100%; /* This should cover the full width of the text */
}

.collections {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.collection-item {
    position: relative;
    width: 100%;
    height: 259.875px; /* Adjust as needed */
    display: flex;
    align-items: center;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Ensures no overflow of the background elements */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1; /* Place image below gradient */
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.45) 100%);
    z-index: 2; /* Place gradient above image */
}

.collection-item span {
    position: relative;
    color: #FFFFF4;
    font-family: "Playfair Display";
    font-size: 110px;
    font-weight: 400;
    letter-spacing: -3.3px;
    text-align: center;
    z-index: 3; /* Ensure text is above both image and gradient */
}

.collection-item.boston {
    justify-content: flex-start;
}

.collection-item.boston .background-image {
    background-position: center;
}

.collection-item.boston span {
    padding-left: 2.5%;
    text-align: left;
}

.collection-item.montmelo {
    justify-content: flex-end;
}

.collection-item.montmelo .background-image {
    background-position: center 54%;
}

.collection-item.montmelo span {
    padding-right: 15%;
    text-align: right;
}

.collection-item.madrid {
    justify-content: flex-start;
}

.collection-item.madrid .background-image {
    background-position: center 30%;
}

.collection-item.madrid span {
    padding-left: 9%;
    text-align: left;
}

.collection-item.other {
    justify-content: flex-end;
}

.collection-item.other .background-image {
    background-position: center 57%;
}

.collection-item.other span {
    padding-right: 15%;
    text-align: right;
}


.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 138px;
    padding: 0 50px; /* Adjust padding as needed */
    box-sizing: border-box;
    background: #FFFFF4; /* Updated background color */
}

.footer-left, .footer-right, .footer-logo {
    flex-shrink: 0;
}

.footer-left {
    color: #1B1B1B;
    text-align: justify;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.36px;
    text-transform: lowercase;
}

.footer-logo {
    display: flex;
    width: 57px;
    height: 86px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 11%;
    cursor: pointer; /* Adds a pointer cursor on hover */

}

.footer-right a {
    display: flex;
    width: 81px;
    height: 27px;
    padding-right: 1px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    color: #1B1B1B;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

